<!DOCTYPE html>
<html lang="en">

<head>
	<title>Guess Number</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
</head>

<body>
	<h1>Guess The Number!</h1>
	<div id="app">
	<p>Guess a number that has been generated between 1-100:</p>
	<p><input type="text" v-model="guess" /></p>

	<p>
		<button v-on:click="checkGuess()">Check Guess</button>
		<button v-on:click="lostGame()">Give Up</button>
		<button v-on:click="startOver()">Start Over</button>
	</p>

	<p>Message: {{ msg }}</p>	
	<p>Attempts Left: {{attemptsLeft}}</p>		
	<hr>
	<p>For your information, the secret number randomly generated is: {{ secret }}</p>	
	<p><b>Past guesses:</b></p>	
	<p v-for="pastGuess in pastGuesses">{{pastGuess}}</p>
	 
		 
	</div>
	
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<!-- You can link to the vue.js in your own computer. I linked to the CDN for easy distribution. -->
	
	<script>
	const { createApp } = Vue
	createApp({	 //create a new application instance
		data() {     // data option
			return {guess:'', msg:'', secret:0, attemptsLeft:0, gameEnded:false, pastGuesses: []
			}
		},
		
		methods: {
			genRandomNum: function () { // generate random number from 1 to 100
			  return Math.floor(Math.random() * 100) + 1;
			},
     
			checkGuess: function () { 
				if(typeof this.guess !== "string" || this.guess <= 0 || this.guess > 100) {
					this.msg = "Please guess a valid number";
				}
				else if(this.gameEnded == true && this.guess != this.secret) {
					this.lostGame();
				} 
				else if (this.guess == this.secret) {
					if(this.gameEnded == false){
						this.pastGuesses.push(this.guess);
						this.msg = "You got it!";
						this.gameEnded = true;
						this.attemptsLeft -= 1;
					} 
					else {
						return;
					}
				} 
				else if (this.attemptsLeft == 1) {
					this.attemptsLeft -= 1;
					this.pastGuesses.push(this.guess);
					this.lostGame();
				}
				else if (this.guess < this.secret) {
					this.pastGuesses.push(this.guess);
					this.msg = "Guess higher";
				}
				else if (this.guess > this.secret) {
					this.pastGuesses.push(this.guess);
					this.msg = "Guess lower";
				} else {
					this.msg = "Please guess a valid number";
				}
				
			},
			startOver: function () {     
				this.msg = "Start guessing.";
				this.secret = this.genRandomNum();
				this.attemptsLeft = 5;
				this.gameEnded = false;
				this.pastGuesses = [];
			},
			lostGame: function () {  
				this.msg = "The secret number is " + this.secret;
				this.gameEnded = true;
				
			}
			
		},
		
		created: function () {//Called after the instance is created
			this.startOver();
		}
		}).mount('#app')   // mount the app to dom element
	</script>

</body>

</html>